/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 ene. de 2020, 20:10:21
    Author     : JAVA
*/

.footer{
    position: fixed;
    background: silver;
    bottom: 0;
    left: 0;
    color: black;    
}

