<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/templates/layout.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:param name="title" value="Showcase"/>
    <ui:define name="content">
        <h:form>
            <h:dataTable id="dttDatos" class="table table-dark" value="#{dataTableBean.personas}" var="persona">
                <h:column>
                    <f:facet name="header">Nombre</f:facet>
                    <h:outputLabel value="#{persona.nombre}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Apellido</f:facet>
                    <h:outputLabel value="#{persona.apellido}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Edad</f:facet>
                    <h:outputLabel value="#{persona.edad}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Sexo</f:facet>
                    <h:outputLabel value="#{persona.sexo}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Acciones</f:facet>
                    <h:commandButton class="btn btn-primary" value="Seleccionar" actionListener="#{dataTableBean.cargarPersona(persona)}"/>
                </h:column>
            </h:dataTable> 
            <br/>
            <h:outputLabel value="#{dataTableBean.datosPersona}"/>
        </h:form>
    </ui:define>
    <ui:define name="xhtml">

        <h:inputTextarea value="#{inputSecretBean.textoXHTML}" style="width: 100%; height:300px;"/>

    </ui:define>
    <ui:define name="java">
        <code>
            <h:outputText value="#{inputSecretBean.textoXHTML}" style="width: 100%; height:300px;"/>
        </code>
    </ui:define>
</ui:composition>